<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ThanhServlet</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatarController</servlet-name>
        <servlet-class>Controller.UploadAvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogOrPostSingleController</servlet-name>
        <servlet-class>Controller.PostSingleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>Controller.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>Controller.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostServlet</servlet-name>
        <servlet-class>Controller.CreatePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>Controller.ProductFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThanhServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatarController</servlet-name>
        <url-pattern>/changeavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogOrPostSingleController</servlet-name>
        <url-pattern>/PostSingle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/Posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostServlet</servlet-name>
        <url-pattern>/PostCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
